<div class="footer-section">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12">
            
            <div class="footer-widget footer-about-widget">
                <div class="footer-logo">
                  <div class="site-logo">
                    <img src="/images/logo-light.png" alt="Logo">
                  </div>
                </div>
                <p>Lorem Ipsum is simply dummy text of the and typesetting industry. Lorem Ipsum is dummy text of the printing. Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor, sit, amet consectetur adipisicing elit.</p>
                <div class="ltn__social-media mt-20">
                  <ul>
                    <li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#" title="Youtube"><i class="fa fa-youtube"></i></a></li>
                  </ul>
                </div>
            </div>

          </div>

          <div class="col-lg-2 col-md-6 col-sm-12">
              <div class="footer-widget footer-menu-widget clearfix">
                <h4 class="footer-title">Company</h4>
                  <div class="footer-menu">
                      <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">All Products</a></li>
                        <li><a href="#">Locations Map</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Contact us</a></li>
                      </ul>
                  </div>
              </div>
          </div>

          <div class="col-lg-2 col-md-6 col-sm-12">
              <div class="footer-widget footer-menu-widget clearfix">
                <h4 class="footer-title">Company</h4>
                  <div class="footer-menu">
                      <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">All Products</a></li>
                        <li><a href="#">Locations Map</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Contact us</a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="footer-widget footer-menu-widget clearfix">
                <h4 class="footer-title">Contact Details</h4>
                  <div class="footer-menu">
                      <ul>
                        <li><p><i class="fa fa-map-o" aria-hidden="true"></i>Brooklyn, New York, United States</p></li>
                        <li><p><i class="fa fa-phone" aria-hidden="true"></i>+0123-456789</p></li>
                        <li><p><i class="fa fa-phone" aria-hidden="true"></i>+0123-456789</p></li>
                        <li><p><i class="fa fa-envelope-o" aria-hidden="true"></i>example@example.com</p></li>
                        <li><p><i class="fa fa-envelope-o" aria-hidden="true"></i>example@example.com</p></li>
                      </ul>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
          <div class="row">
            <div class="col-md-7">
                <p>All Rights Reserved @ Company 2021</p>
            </div>
            <div class="col-md-5">
              <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Term & Condition</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Claims</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Privacy Policy</a>
                </li>
              </ul>
            </div>
          </div>
      </div>   
    </div>
</div>