<div class="header">
	<!-- Logo -->
    <div class="header-left">
        <a href="/admin/dashboard" class="logo">
			<img src="/assets/img/logo.png" alt="Logo">
		</a>
    </div>
	<!-- /Logo -->
				
	<a href="javascript:void(0);" id="toggle_btn">
		<i class="fe fe-text-align-left"></i>
	</a>
				
	<!-- Mobile Menu Toggle -->
	<a class="mobile_btn" id="mobile_btn">
		<i class="fa fa-bars"></i>
	</a>
	<!-- /Mobile Menu Toggle -->
				
	<!-- Header Right Menu -->
	<ul class="nav user-menu">
		<li class="nav-item">
			<a class="nav-link" href="/admin/logout"><i class="fa fa-sign-out" aria-hidden="true"></i><span style="font-size: 15px;font-weight: 600;">Sign Out</span></a>
		</li>					
	</ul>
	<!-- /Header Right Menu -->
				
</div>