<div class="sidebar" id="sidebar">
  <div class="sidebar-inner slimscroll">
  <div id="sidebar-menu" class="sidebar-menu">
    <ul>
      <li class="menu-title"> 
        <span>Main</span>
      </li>
      <li class="active"> 
        <a href="/admin/dashboard"><i class='bx bx-home'></i><span>Dashboard</span></a>
      </li>
            
      <li class="menu-title"> 
        <span>Categories</span>
      </li>

      <li class="submenu">
        <a href="#"><i class="bx bx-category"></i> <span> Category </span> <span class="menu-arrow"></span></a>
        <ul style="display: none;">
          <li><a href="/admin/category/add"> Add Category </a></li>
          <li><a href="/admin/category"> View Category </a></li>
        </ul>
      </li>

      <li class="submenu">
        <a href="#"><i class="bx bx-category"></i> <span> Business </span> <span class="menu-arrow"></span></a>
        <ul style="display: none;">
          <li><a href="/admin/business/add"> Add Business </a></li>
          <li><a href="/admin/business"> View Business </a></li>
        </ul>
      </li>

      <li class="menu-title"> 
        <span>User Query</span>
      </li>

      <li> 
        <a href="/admin/feedback"><i class='bx bx-confused' ></i><span>Feedback</span></a>
      </li>
      <li> 
        <a href="/admin/contact"><i class='bx bx-mail-send' ></i><span>Enquiry</span></a>
      </li>
      <li> 
        <a href="/admin/users"><i class='bx bx-user-circle'></i><span>Users</span></a>
      </li>

      <li class="menu-title"> 
        <span>Site Data</span>
      </li>

      <li> 
        <a href="/admin/about"><i class='bx bx-label'></i><span>About</span></a>
      </li>
 						
    </ul>
  </div>
  </div>
</div>