<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <title>Admin - Register</title>
		
		    <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.png">

		    <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
		
		    <!-- Fontawesome CSS -->
        <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
		
		    <!-- Main CSS -->
        <link rel="stylesheet" href="/assets/css/style.css">

        <style>
          .alert{
            padding: 6px 5px;
          }
          .error-msg{
            padding: 2px 2px;
            width:100%;
            display: block;
            margin-bottom: 4px;
          }
        </style>
        
    </head>
    <body>
	
		<!-- Main Wrapper -->
        <div class="main-wrapper login-body">
            <div class="login-wrapper">
            	<div class="container">
                	<div class="loginbox">
                        <div class="login-right">
							            <div class="login-right-wrap">
                              <h1>Register</h1>
                              <p class="account-subtitle">Access to our dashboard</p>
								
								            <% if(typeof errors!= 'undefined'){ %>
			                      <% errors.forEach( error => { %>
                                <span class="alert alert-warning error-msg"><%= error.msg %></span> 
                              <% }) %>
                            <% } %>  

                            <% if(typeof success!= 'undefined'){ %> 
                              <div class="alert alert-success"><%= success %> </div>
                            <% } %> 

                            <% if(typeof error_msg!= 'undefined'){ %> 
                              <div class="alert alert-warning"><%= error_msg %> </div>
                            <% } %>

                            <!-- Form -->
                            <form action="/admin/register" method="POST">
                              <div class="form-group mt-3">
                                <input class="form-control" type="text" name="username" placeholder="Name">
                              </div>
                              <div class="form-group">
                                <input class="form-control" type="text" name="email" placeholder="Email">
                              </div>
                              <div class="form-group">
                                <input class="form-control" type="text" name="phone" placeholder="Phone" maxlength="10">
                              </div>
                              <div class="form-group">
                                <input class="form-control" type="password" name="password" placeholder="Password">
                              </div>
                              <div class="form-group">
                                <input class="form-control" type="password" name="cpassword" placeholder="Confirm Password">
                              </div>
                              <div class="form-group">
                                <input class="btn btn-primary btn-block" value="Register Now" type="submit">
                              </div>
                              <div class="text-center dont-have mt-2">Already have an account? <a href="/admin" class="text-dark">Login</a></div>
                            </form>
                            <!-- /Form -->

							            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		    <!-- /Main Wrapper -->
		
		    <!-- jQuery -->
        <script src="/assets/js/jquery-3.2.1.min.js"></script>
		
		    <!-- Bootstrap Core JS -->
        <script src="/assets/js/popper.min.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
		
		    <!-- Custom JS -->
		    <script src="/assets/js/script.js"></script>
		
    </body>
</html>